-----BEGIN RSA PRIVATE KEY-----
(Replace this entire file with the private key downloaded from GitHub App settings)
GitHub App → Your App → Private keys → Generate a private key
Download the .pem file and save it as 'private-key.pem' in this directory
-----END RSA PRIVATE KEY-----